{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <title>{{title}}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'tenders/css/styles.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'tenders/images/logo_1.png' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css" rel="stylesheet" />

</head>
<body>
    <header>
        <a href="{% url 'home' %}" style="position: absolute; top: 1px; left: 10px;">
            <img src="{% static 'tenders/images/logo_1.png' %}" alt="Logo" class="logo" style="width: 35px; height: auto;">
        </a>
        {% if user.is_authenticated %}
          <a href="{{ user.subscriber.get_absolute_url }}">{{ user.username }}</a>
          <a href="{% provider_login_url 'google' process='connect' %}">Підключити обліковий запис Google</a>
          <a href="{% url 'logout' %}">Вийти</a>
        {% else %}
          <a href="{% url 'register' %}">Реєстрація |</a>
          <a href="{% url 'login' %}">Вхід |</a>
          <a href="{% provider_login_url 'google' %}">Увійдіть через Google</a>
        {% endif %}
    </header>

<main>
    <article>
    <h1>Стан української економіки у поточному році</h1>
    <p><strong>Реальне зростання ВВП України у 2023 році може скласти 5%, а не 2,8% - Мінекономіки</strong></p>
    <p>Реальне зростання валового внутрішнього продукту України у 2023 році може становити до 5%, проте з огляду
      на існуючі ризики Міністерство економіки поки що консервативно зберігає прогноз зростання на рівні 2,8%.</p>
    <p>Про це повідомляє "Інтерфакс-Україна" з посиланням на директорку департаменту стратегічного планування та
      макроекономічного прогнозування Міністерства економіки Наталію Горшкову.</p>
    <p>"У тих робочих розрахунках, які ми маємо, ми так само, як і більшість експертів, які давали вам прогнози,
      бачимо можливість цього року вийти на реальне зростання близько 5%", – сказала вона на дискусії "Новий
      макроекономічний прогноз для України : яким буде курс, ВВП та інфляція", організованої Центром економічної
      стратегії (ЦЕС).</p>
    <p>Водночас, Горшкова зазначила, що змінювати поточний прогноз 2,8% міністерство поки не має наміру,
      оскільки ризики залишаються досить значними.</p>
    <p>"Ми є частиною бюджетного процесу, і ми не хотіли б щоразу, як на гойдалках, переглядати базу для
      формування бюджету", – додала представниця Мінекономіки.</p>
    <p>Вона уточнила, що раніше у відомстві прогнозували зростання економіки України у поточному році на 3,2%,
      проте у червні у зв'язку з руйнуванням Каховської ГЕС та песимістичними очікуваннями щодо майбутнього
      врожаю, його скоригували до 2,8%.</p>
    <p>"Мабуть, ми поспішили", - зазначила Горшкова.</p>
    <p>Говорячи про більш дальні прогнози, представниця Мінекономіки зазначила, що, як і більшість експертів, у
      відомстві сподіваються, що війна 2024 року завершиться, і це стимулюватиме якнайшвидше відновлення в
      економіці.</p>
    <p>"Тому, згідно з поточними прогнозами, які у нас є, ми очікуємо наступного року 5% зростання", –
      повідомила директорка департаменту стратегічного планування та макроекономічного прогнозування
      Мінекономіки.</p>
    <p>За її словами, основним драйвером зростання виступає інвестиційна динаміка, при цьому характер інвестицій
      зміниться: військові інвестиції заміщатимуться інвестиціями в інфраструктурні проєкти, проєкти, пов'язані
      із відновленням, а також підкріплюватимуться іноземними інвестиціями, та поверненням мігрантів з-за
      кордону.</p>
    <p>Щодо інфляції, на яку Мінекономіки цього року очікує на рівні 14,7%, Горшкова зазначила, що прогноз
      відомства залишається також консервативним, оскільки зберігається припущення можливості перегляду
      офіційного курсу гривні наприкінці року.</p>
    </article>

    {% block content %}
    {% endblock %}
</main>

    <footer>
        <p>© 2023. Усі права захищено.</p>
    </footer>
</body>
</html>
